@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.toolbar-horizontal header {
  top: 39px;
}
@media only screen and (max-width: 992px) {
  .toolbar-horizontal header {
    top: 0;
  }
}
.toolbar-horizontal.toolbar-tray-open .header {
  top: 80px;
}
@media only screen and (max-width: 992px) {
  .toolbar-horizontal.user-logged-in .header {
    top: 39px;
  }
}
@media only screen and (max-width: 992px) {
  .toolbar-horizontal.user-logged-in.toolbar-tray-open .header {
    top: 78px;
  }
}
@media screen and (max-width: 950px) {
  .toolbar-horizontal.user-logged-in.toolbar-tray-open .header {
    top: 105px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.layout-content .region-content {
  display: none;
}

.view-empty {
  display: none;
}

.feed-icons {
  display: none;
}

.toolbar .toolbar-bar, .toolbar .toolbar-tray {
  position: fixed;
  z-index: 1250;
  width: 100%;
}

#front-main-content {
  min-height: 550px;
  padding-bottom: 50px;
}

h4, h5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #102a42;
}
@media only screen and (max-width: 767px) {
  h4, h5 {
    font-size: 20px;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 600;
  color: #102a42;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 22px;
  }
}

h2, h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #102a42;
  padding-bottom: 20px;
}

.page-title {
  text-align: center;
}

.button {
  padding: 10px 25px;
  background-color: rgba(255, 107, 74, 0.7490196078);
  border: 1px solid rgba(255, 107, 74, 0.7490196078);
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  -webkit-appearance: none;
  appearance: none;
}
.button.small {
  padding: 6px 15px;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .button.small {
    padding: 5px 10px;
    font-size: 14px;
  }
}
.button:hover {
  background-color: rgba(255, 107, 74, 0.7490196078);
  color: #fff;
}
.button:focus {
  background-color: rgba(255, 107, 74, 0.7490196078);
  color: #fff;
}
.button.border {
  background: #fff;
  border: 1px solid rgba(255, 107, 74, 0.7490196078);
  color: #2C2C2C;
}
.button.border:hover {
  border-color: rgba(255, 107, 74, 0.7490196078);
  background-color: rgba(255, 107, 74, 0.7490196078);
  color: #fff;
}
.button.border:focus {
  background-color: rgba(255, 107, 74, 0.7490196078);
  border-color: rgba(255, 107, 74, 0.7490196078);
  color: #2C2C2C;
}

.messages--status {
  max-width: 1270px;
  margin: 0 auto;
}

table {
  width: 100%;
  min-width: 800px;
  border-spacing: 0;
  border-collapse: separate;
  padding: 20px 0 25px 0;
}
@media only screen and (min-width: 768px) {
  table {
    min-width: unset;
  }
}
table tr {
  font: 500 14px/21px "Poppins", sans-serif;
  color: #221E20;
  border: none;
}
table tr th {
  font: 700 14px/21px "Poppins", sans-serif;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  background-color: rgba(255, 107, 74, 0.7490196078);
  border-right: 1px solid #EDEDED;
}
table tr td {
  padding: 10px 20px;
  background-color: #fff;
  text-align: left;
  border-left: 1px solid #E5E6F0;
  border-right: 1px solid #E5E6F0;
  border-bottom: 1px solid #E5E6F0;
}
table tr td a {
  text-decoration: none;
  color: #221E20;
}
table tr td a:hover {
  color: rgba(255, 107, 74, 0.7490196078);
  text-decoration: underline;
}

.pager__items {
  padding-bottom: 20px;
}
.pager__items .pager__item {
  color: #102a42;
}
.pager__items .pager__item a {
  color: #102a42;
  text-decoration: none;
}

.header {
  background-color: #fedac7;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header .site-logo img {
  max-width: 110px;
  width: 110px;
  border-radius: 10px;
}
.header .site-name {
  display: none;
}
.header .header-inner {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-inner .nav-menu {
  margin: 0;
  padding: 10px 0;
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 992px) {
  .header .header-inner .nav-menu {
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease;
  }
}
.header .header-inner .nav-menu li.nav-item--expanded:hover > ul {
  display: block;
}
.header .header-inner .nav-menu li {
  position: relative;
  padding: 15px 14px;
}
.header .header-inner .nav-menu li:last-child {
  padding-right: 0;
}
.header .header-inner .nav-menu li a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
.header .header-inner .nav-menu li a:hover {
  color: #ff8f74;
}
.header .header-inner .nav-menu li .nav-menu-child {
  position: absolute;
  background-color: #fff;
  padding-left: 0;
  box-shadow: 0 2px 10px #fedac7;
  max-width: 150px;
  display: none;
}
.header .header-inner .nav-menu li .nav-menu-child li {
  padding-right: 14px;
}
.header .header-inner .nav-menu li .nav-menu-child li a {
  color: #000;
}
.header .header-inner .nav-menu li .nav-menu-child li a:hover {
  color: #ff8f74;
}
.header .header-inner .nav-menu li .nav-menu-sub {
  left: 12px;
  top: 100%;
}
.header .header-inner .nav-menu li .nav-menu-sub-child {
  left: 100%;
  top: 0;
}
.header .header-inner .nav-menu .nav-menu li:hover ul {
  list-style: none;
  display: block;
  color: white;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .header .header-inner .nav-menu li.nav-item {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 992px) {
  .header .wrapper {
    padding: 0;
  }
}

.banner img {
  width: 100%;
}

.footer {
  min-height: 200px;
  background: linear-gradient(to right, #fedac7, #fff);
}

.footer {
  padding: 50px 0;
  box-shadow: 0px -11px 20px -20px;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}
.footer .footer-section {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .footer .footer-section {
    display: block;
  }
}
.footer .footer-section .left, .footer .footer-section .middle, .footer .footer-section .right, .footer .footer-section .footer-third {
  width: 33.33%;
  padding-right: 35px;
}
@media only screen and (max-width: 767px) {
  .footer .footer-section .left, .footer .footer-section .middle, .footer .footer-section .right, .footer .footer-section .footer-third {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
.footer .footer-section .left .region-footer-first h2,
.footer .footer-section .left .region-footer-second h2,
.footer .footer-section .left .region-footer-third h2, .footer .footer-section .middle .region-footer-first h2,
.footer .footer-section .middle .region-footer-second h2,
.footer .footer-section .middle .region-footer-third h2, .footer .footer-section .right .region-footer-first h2,
.footer .footer-section .right .region-footer-second h2,
.footer .footer-section .right .region-footer-third h2, .footer .footer-section .footer-third .region-footer-first h2,
.footer .footer-section .footer-third .region-footer-second h2,
.footer .footer-section .footer-third .region-footer-third h2 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #102a42;
}
.footer .footer-section .left .region-footer-first .menu,
.footer .footer-section .left .region-footer-second .menu,
.footer .footer-section .left .region-footer-third .menu, .footer .footer-section .middle .region-footer-first .menu,
.footer .footer-section .middle .region-footer-second .menu,
.footer .footer-section .middle .region-footer-third .menu, .footer .footer-section .right .region-footer-first .menu,
.footer .footer-section .right .region-footer-second .menu,
.footer .footer-section .right .region-footer-third .menu, .footer .footer-section .footer-third .region-footer-first .menu,
.footer .footer-section .footer-third .region-footer-second .menu,
.footer .footer-section .footer-third .region-footer-third .menu {
  margin-left: 0;
}
.footer .footer-section .left .region-footer-first .menu .menu-item,
.footer .footer-section .left .region-footer-second .menu .menu-item,
.footer .footer-section .left .region-footer-third .menu .menu-item, .footer .footer-section .middle .region-footer-first .menu .menu-item,
.footer .footer-section .middle .region-footer-second .menu .menu-item,
.footer .footer-section .middle .region-footer-third .menu .menu-item, .footer .footer-section .right .region-footer-first .menu .menu-item,
.footer .footer-section .right .region-footer-second .menu .menu-item,
.footer .footer-section .right .region-footer-third .menu .menu-item, .footer .footer-section .footer-third .region-footer-first .menu .menu-item,
.footer .footer-section .footer-third .region-footer-second .menu .menu-item,
.footer .footer-section .footer-third .region-footer-third .menu .menu-item {
  padding-bottom: 14px;
}
.footer .footer-section .left .region-footer-first .menu .menu-item:last-child,
.footer .footer-section .left .region-footer-second .menu .menu-item:last-child,
.footer .footer-section .left .region-footer-third .menu .menu-item:last-child, .footer .footer-section .middle .region-footer-first .menu .menu-item:last-child,
.footer .footer-section .middle .region-footer-second .menu .menu-item:last-child,
.footer .footer-section .middle .region-footer-third .menu .menu-item:last-child, .footer .footer-section .right .region-footer-first .menu .menu-item:last-child,
.footer .footer-section .right .region-footer-second .menu .menu-item:last-child,
.footer .footer-section .right .region-footer-third .menu .menu-item:last-child, .footer .footer-section .footer-third .region-footer-first .menu .menu-item:last-child,
.footer .footer-section .footer-third .region-footer-second .menu .menu-item:last-child,
.footer .footer-section .footer-third .region-footer-third .menu .menu-item:last-child {
  padding-bottom: 0;
}
.footer .footer-section .left .region-footer-first .menu .menu-item a,
.footer .footer-section .left .region-footer-second .menu .menu-item a,
.footer .footer-section .left .region-footer-third .menu .menu-item a, .footer .footer-section .middle .region-footer-first .menu .menu-item a,
.footer .footer-section .middle .region-footer-second .menu .menu-item a,
.footer .footer-section .middle .region-footer-third .menu .menu-item a, .footer .footer-section .right .region-footer-first .menu .menu-item a,
.footer .footer-section .right .region-footer-second .menu .menu-item a,
.footer .footer-section .right .region-footer-third .menu .menu-item a, .footer .footer-section .footer-third .region-footer-first .menu .menu-item a,
.footer .footer-section .footer-third .region-footer-second .menu .menu-item a,
.footer .footer-section .footer-third .region-footer-third .menu .menu-item a {
  font-size: 14px;
  color: rgba(255, 107, 74, 0.7490196078);
  line-height: 1.4;
  display: inline-flex;
  transition: all 0.3s ease-in;
  transform: translateX(0);
  text-decoration: none;
}
.footer .footer-section .left .region-footer-first .menu .menu-item a:hover,
.footer .footer-section .left .region-footer-second .menu .menu-item a:hover,
.footer .footer-section .left .region-footer-third .menu .menu-item a:hover, .footer .footer-section .middle .region-footer-first .menu .menu-item a:hover,
.footer .footer-section .middle .region-footer-second .menu .menu-item a:hover,
.footer .footer-section .middle .region-footer-third .menu .menu-item a:hover, .footer .footer-section .right .region-footer-first .menu .menu-item a:hover,
.footer .footer-section .right .region-footer-second .menu .menu-item a:hover,
.footer .footer-section .right .region-footer-third .menu .menu-item a:hover, .footer .footer-section .footer-third .region-footer-first .menu .menu-item a:hover,
.footer .footer-section .footer-third .region-footer-second .menu .menu-item a:hover,
.footer .footer-section .footer-third .region-footer-third .menu .menu-item a:hover {
  transform: translateX(5px);
}
.footer .footer-section .middle {
  width: 33.33%;
  padding-right: 35px;
}
@media only screen and (max-width: 767px) {
  .footer .footer-section .middle {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }
}
.footer .footer-section .middle h2 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #102a42;
}
.footer .footer-section .middle .social-footer {
  display: flex;
  align-items: center;
}
.footer .footer-section .middle .social-footer .fb {
  background-color: black;
  border-radius: 50%;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  padding: 11px;
  transition: all 0.2s ease-in;
}
.footer .footer-section .middle .social-footer .fb:hover {
  background-color: #3b5999;
}
.footer .footer-section .middle .social-footer .insta {
  background-color: black;
  border-radius: 50%;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  padding: 11px;
  transition: all 0.2s ease-in;
}
.footer .footer-section .middle .social-footer .insta a img {
  max-width: 16px;
  max-height: 16px;
}
.footer .footer-section .middle .social-footer .insta:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.footer .footer-section .middle .social-footer .twitter {
  background-color: black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  padding: 11px;
  transition: all 0.2s ease-in;
}
.footer .footer-section .middle .social-footer .twitter a img {
  max-width: 16px;
  max-height: 16px;
}
.footer .footer-section .middle .social-footer .twitter:hover {
  background-color: #55acee;
}
.footer .footer-section .right {
  width: 33.33%;
}
@media only screen and (max-width: 767px) {
  .footer .footer-section .right {
    width: 100%;
  }
}
.footer .footer-section .right .region-footer-second h2 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #102a42;
}
.footer .footer-section .right .region-footer-second p {
  font-size: 14px;
  color: rgba(255, 107, 74, 0.7490196078);
}

.faq-outer {
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .faq-outer {
    padding-bottom: 30px;
  }
}

.faq-sec > li {
  position: relative;
  margin-bottom: 16px;
  margin-left: 0;
}
.faq-sec > li .faq-title {
  font-size: 16px;
  background-color: #D1E8E2;
  color: #000;
  padding: 18px 15px;
  padding-right: 40px;
  display: block;
  position: relative;
  margin: 0;
  line-height: 1.2;
  cursor: pointer;
}
.faq-sec > li .faq-title.scroll-margin-top {
  scroll-margin-top: 190px;
}
@media only screen and (max-width: 767px) {
  .faq-sec > li .faq-title.scroll-margin-top {
    scroll-margin-top: 100px;
  }
}
.faq-sec > li .faq-title:hover {
  background-color: #D1E8E2;
  color: #116466;
}
.faq-sec > li .faq-title:after, .faq-sec > li .faq-title:before {
  content: "";
  position: absolute;
  right: 0;
  font-size: 10px;
  background: #2C2C2C;
  width: 14px;
  height: 2px;
  top: 50%;
  margin: -1px 18px 0 0;
}
.faq-sec > li .faq-title::after {
  transform: rotate(90deg);
}
.faq-sec > li .faq-title.active {
  background-color: #D1E8E2;
  color: #116466;
  font-weight: 700;
}
.faq-sec > li .faq-title.active::after {
  display: none;
}
.faq-sec > li .faq-content {
  background-color: #F8F8F8;
  padding: 15px;
  margin: 8px 0 0 0;
  border-radius: 4px;
  display: none;
}
.faq-sec > li .faq-content p {
  font-size: 16px;
  color: #4D4D4F;
}

form {
  max-width: 690px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 46px #ffd2be;
  padding: 40px;
  margin: 20px auto 60px auto;
}
@media only screen and (max-width: 767px) {
  form {
    padding: 20px;
    max-width: 100%;
    width: auto;
    margin: 30px auto 60px auto;
  }
}
form .js-form-item {
  display: flex;
  flex-direction: column;
}
form .js-form-item label {
  margin-bottom: 10px;
  color: rgba(255, 107, 74, 0.7490196078);
  font-weight: 900;
}
form .js-form-item .js-text-full {
  max-width: 600px;
}
@media only screen and (max-width: 767px) {
  form .form-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  form .form-actions .js-form-submit {
    margin: 0;
    font-weight: 500;
    padding: 8px 20px;
    font-size: 15px;
  }
}
form .field--name-field-name, form .field--name-field-phone-number, form .field--name-field-email {
  max-width: 337px;
  width: 100%;
}
form .field--name-field-query- {
  max-width: 600px;
  width: 100%;
}
form .form-actions {
  margin-top: 30px;
}
form .js-form-type-checkbox {
  display: block;
}
form .js-form-type-checkbox .form-checkbox {
  margin-right: 5px;
}

.courses-outer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .courses-outer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.courses-outer h2 {
  text-align: center;
}

.facilities-bottom > p .showmore_content {
  overflow: hidden;
}
.facilities-bottom > p .showmore_trigger .more, .facilities-bottom > p .showmore_trigger .less {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  display: block;
}
.facilities-bottom > p .showmore_trigger .more:hover, .facilities-bottom > p .showmore_trigger .less:hover {
  color: #D1E8E2;
}

.flexslider {
  border: unset !important;
  overflow: hidden;
  margin: 0 !important;
}
.flexslider .flex-viewport .slides li a img {
  width: 100%;
  height: 550px;
}
@media only screen and (max-width: 1023px) {
  .flexslider .flex-viewport .slides li a img {
    height: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .flexslider .flex-viewport .slides li a img {
    height: 160px;
  }
}
.flexslider .flex-viewport .slides li p {
  display: none;
}

.tabs .is-active {
  color: rgba(255, 107, 74, 0.7490196078);
}
.tabs li {
  background-color: rgba(255, 107, 74, 0.7490196078);
  color: #fff;
}
.tabs li a {
  color: #fff;
}
.tabs li a:hover {
  color: rgba(255, 107, 74, 0.7490196078);
}

.side-con {
  padding-top: 60px;
}

/* Footer Scroll To Top. */
.scrolltop {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  border-radius: 50%;
  background: #e83e8c !important;
  color: #fff;
  font-size: 30px;
  z-index: 20;
  text-align: center;
  padding: 4px;
}

.scrolltop-icon {
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* css for hamburger */
.hamburger {
  position: absolute;
  right: 4px;
  top: 7px;
  visibility: hidden;
}
@media only screen and (max-width: 992px) {
  .hamburger {
    visibility: visible;
  }
}

.hamburger .bar {
  border: 1.5px solid #000;
  margin: 9px;
  display: block;
  width: 32px;
  background: #fff;
  transition: 0.3s all ease;
}

.hamburger .rotate {
  transition: 0.3s all ease;
}
.hamburger .rotate:nth-child(1) {
  transform: rotate(45deg);
  margin: -1px;
}
.hamburger .rotate:nth-child(2) {
  display: none;
}
.hamburger .rotate:nth-child(3) {
  transform: rotate(-45deg);
  margin: -2px;
}

.displace {
  right: 8px;
  top: 25px;
}

.nav-items-1 {
  position: relative;
  top: 60px;
  z-index: 999;
  align-items: center;
  flex-direction: column;
  color: #e83e8c;
  background-color: #fff;
  margin: auto;
  list-style: none;
  display: flex;
  padding: 60px 0;
  transition: 0.6s all ease;
}

.nav-items-1 > li {
  padding-top: 12px;
}

.nav-items-1 li {
  text-decoration: none;
  margin-bottom: 10px;
}

.nav-items-1 li a {
  text-decoration: none;
  color: #e83e8c;
  list-style: none;
}

/* Mobile Responsive */
.banner-region {
  width: 100%;
}

.accerediation-outer {
  padding: 48px 0;
  text-align: center;
  clear: both;
}
@media only screen and (max-width: 767px) {
  .accerediation-outer {
    padding: 30px 0;
  }
}
.accerediation-outer .accrediation-list {
  margin: -20px -12px;
}
@media only screen and (max-width: 767px) {
  .accerediation-outer .accrediation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    margin: -10px;
    padding: 10px;
    width: calc(100% + 25px);
  }
}
.accerediation-outer .accrediation-list li {
  text-align: center;
  box-shadow: 0px 0px 13px rgba(0, 55, 95, 0.1019607843);
  padding: 30px 50px;
  border-radius: 12px;
}
@media only screen and (max-width: 1199px) {
  .accerediation-outer .accrediation-list li {
    width: calc(25% - 24px);
  }
}
@media only screen and (max-width: 1023px) {
  .accerediation-outer .accrediation-list li {
    width: calc(33.33% - 24px);
    padding: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .accerediation-outer .accrediation-list li {
    min-width: 200px !important;
    width: 200px !important;
    margin: 0 12px 0 0;
    padding: 20px 15px;
  }
}
.accerediation-outer .accrediation-list li .accerediation-img img {
  max-height: 86px;
  max-width: 86px;
  width: auto;
}
.accerediation-outer .accrediation-list li .accerediation-name {
  font: bold 16px/28px "Poppins", sans-serif;
  color: #2C2C2C;
  padding-top: 20px;
}
.accerediation-outer .accrediation-list li .accerediation-name a {
  color: #2C2C2C;
}
.accerediation-outer .accrediation-list li p {
  font: 15px/24px "Poppins", sans-serif;
  color: #4D4D4F;
  padding-top: 10px;
}
.accerediation-outer .accrediation-list li p a {
  color: #4D4D4F;
}

.views-row {
  padding-block: 1.5rem;
}
.views-row:not(:last-child) article.node {
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
