@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");

// Breakpoint
@mixin mquery($size) {
  @if $size ==xlarge {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }

  @if $size ==wrap {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  @if $size ==large {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  }

  @if $size ==notebook {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }

  @if $size ==tab {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $size ==medium {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }

  @if $size ==mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $size ==small {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $size ==xsmall {
    @media only screen and (max-width: 430px) {
      @content;
    }
  }
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

$font-base: 'Poppins', sans-serif;
$colour: #ff8f74;
$colour2: #fedac7;
$colour3: linear-gradient(103.3deg, rgb(253, 109, 104) 7.7%, rgb(248, 150, 105) 90.8%);
$white: #fff;
$background-shade: linear-gradient(to right, #fedac7, #fff);

body {
  font-family: $font-base;
  line-height: 1.2;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.toolbar-horizontal {
  header {
    top: 39px;
    @include mquery(notebook) {
      top: 0;
    }
  }
  &.toolbar-tray-open {
    .header {
      top: 80px;
    }
  }
  &.user-logged-in {
    .header {
      @include mquery(notebook) {
        top: 39px;
      }
    }
    &.toolbar-tray-open {
      .header {
        @include mquery(notebook) {
          top: 78px;
        }
        @media screen and (max-width: 950px) {
          top: 105px;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.layout-content .region-content {
  display: none;
}
.view-empty {
  display: none;
}
.feed-icons {
  display: none;
}


.toolbar .toolbar-bar, .toolbar .toolbar-tray {
  position: fixed;
  z-index: 1250;
  width: 100%;
}

// //slick
// .slick-slide img {
//   display: initial;
// }
// .slick-track{
//   margin-left: initial;
//   margin-right: initial;
// }
// .slick-arrow {
//     @include slick-arrow;
// }
// .slick-dots{
//   @include slick-dots;
// }

// .header .nav-menu {
//   margin: 0;
//   padding: 20px 0;
//   background: #002691;
//   display: flex;
//   justify-content: center;
//   list-style: none;
// }

// .header .nav-menu li {
//   position: relative;
//   padding: 15px 20px;
//   margin-left: 40px;
// }

// .header .nav-menu li>a {
//   font-size: 18px;
//   text-decoration: none;
//   color: white;
//   font-weight: bold;
// }


// .header .nav-menu li>a:hover {
//   color: #e83e8c;
// }

// .header .nav-menu .nav-menu-sub {
//   background-color: white;
//   padding-left: 0;
//   border-top: 3px solid #e83e8c;
//   min-width: 200px;
//   display: none;
//   position: absolute;
//   left: 0;
//   top: 50px;
// }

// .header .nav-menu .nav-menu-sub li a {
//   color: #002691;

// }

// .header .nav-menu li:hover ul {
//   list-style: none;
//   display: block;
//   color: white;
//   z-index: 1;
// }

// common start //
#front-main-content{
  min-height: 550px;
  padding-bottom: 50px;
}
h4,h5{
  font-family: $font-base;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #102a42;
  @include mquery(mobile){
    font-size: 20px
  }
}
h3{
  font-family: $font-base;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 600;
  color: #102a42;
  @include mquery(mobile){
    font-size: 22px
  }
 }

 h2,h1{
  font-family: $font-base;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: #102a42;
  padding-bottom: 20px;
 }

 .page-title{
  text-align: center;
 }

 // Button //
 .button{
  padding: 10px 25px;
  background-color: #ff6b4abf;
  border: 1px solid #ff6b4abf;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: $font-base;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .5s ease-out;
  -webkit-appearance: none;
    appearance: none;
  &.small{
    padding: 6px 15px;
    font-size: 14px;
    @include mquery(mobile){
      padding: 5px 10px;
      font-size: 14px;
    }
  }
  &:hover{
    background-color: #ff6b4abf;
    color: #fff;
  }
  &:focus{
    background-color: #ff6b4abf;
    color: #fff;
  }
  &.border{
    background: #fff;
    border: 1px solid #ff6b4abf;
    color: #2C2C2C;
    &:hover{
      border-color: #ff6b4abf;
      background-color: #ff6b4abf;
      color: #fff;
    }
    &:focus{
      background-color: #ff6b4abf;
      border-color: #ff6b4abf;
      color: #2C2C2C;
    }
  }
}

.messages--status{
  max-width: 1270px;
  margin: 0 auto;
}

// table //
table{
  width: 100%;
  min-width: 800px;
  border-spacing: 0;
  border-collapse: separate;
  padding: 20px 0 25px 0;
  @include mquery(tab){
    min-width: unset;
  }
  tr{
    font: 500 14px/21px $font-base;
    color: #221E20;
    border: none;
    th{
      font: 700 14px/21px $font-base;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      background-color: #ff6b4abf;
      border-right: 1px solid #EDEDED;
    }
    td{
      padding: 10px 20px;
      background-color: #fff;
      text-align: left;
      border-left: 1px solid #E5E6F0;
      border-right: 1px solid #E5E6F0;
      border-bottom: 1px solid #E5E6F0;
      a{
        text-decoration: none;
        color: #221E20;
        &:hover{
          color: #ff6b4abf;
          text-decoration: underline;
        }
      }
    }
  }
}
.pager__items{
  padding-bottom: 20px;
.pager__item{
  color: #102a42;
  a{
    color: #102a42;
    text-decoration: none;
  }
}
}
// common End //

// Header Section //
.header {
  background-color: $colour2;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  .site-logo{
    img{
      max-width: 110px;
      width: 110px;
      border-radius: 10px;
    }
  }

  .site-name{
    display: none;
  }
  .header-inner {
    padding: 10px 0;
  // .region-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

  // .menu {
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  //   padding: 20px 0 20px 100px;
  //   margin: 0;
  //   @include mquery(mobile){
  //     display: block;
  //   }
  //   >.menu-item {
  //     padding: 0 20px;
  //     &:last-child{
  //      padding-right: 0;
  //     }
  //     a {
  //       color: #fff;
  //       font-family: $font-base;
  //       font-size: 15px;
  //       text-decoration: none;
  //       &:hover {
  //         color: #D1E8E2;
  //       }
  //     }
  //   }
  // }
  .nav-menu {
    margin: 0;
    padding: 10px 0;
    display: flex;
    list-style: none;
    @include mquery(notebook){
      height: 0;
      padding: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease;
    }
    li.nav-item--expanded:hover > ul {
      display: block;
    }
    li {
      position: relative;
      padding: 15px 14px;
      &:last-child{
        padding-right: 0;
      }
      a {
        font-size: 18px;
        text-decoration: none;
        color: #000;
        &:hover{
          color: $colour;
        }
      }
      .nav-menu-child {
        position: absolute;
        background-color: $white;
        padding-left: 0;
        box-shadow: 0 2px 10px $colour2;
        max-width: 150px;
        display: none;
        li {
          padding-right: 14px;
          a {
            color: #000;
            &:hover{
              color: $colour;
            }
          }
        }
      }
      .nav-menu-sub {
        left: 12px;
        top: 100%;
      }
      .nav-menu-sub-child {
        left: 100%;
        top: 0;
      }
    }

// .nav-menu .nav-menu-sub {
//   background-color: white;
//   padding-left: 0;
//   border-top: 3px solid #e83e8c;
//   min-width: 200px;
//   display: none;
//   position: absolute;
//   left: 0;
//   top: 50px;
// }

// .nav-menu .nav-menu-sub li a {
//   color: #002691;

// }

.nav-menu li:hover ul {
  list-style: none;
  display: block;
  color: white;
  z-index: 1;
}
  @include mquery(notebook) {
    li.nav-item {
      opacity: 0;
      visibility: hidden;
    }
  }
 }
}
@include mquery(notebook) {
  .wrapper {
    padding: 0;
  }
}
}

// banner //
.banner {
  img {
    width: 100%;
  }
}

// Footer //
.footer {
  min-height: 200px;
  background: $background-shade;
}
.footer {
  padding: 50px 0;
  box-shadow: 0px -11px 20px -20px;
  @include mquery(mobile){
    padding: 30px 0;
  }
  .footer-section {
    display: flex;
    justify-content: space-between;
    @include mquery(mobile){
      display: block;
    }
    .left, .middle, .right, .footer-third {
      width: 33.33%;
      padding-right: 35px;
      @include mquery(mobile){
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
      }
      .region-footer-first,
      .region-footer-second,
      .region-footer-third {
        h2{
          font-size: 20px;
          padding-bottom: 10px;
          color: #102a42;
        }
        .menu {
          margin-left: 0;
          .menu-item {
            padding-bottom: 14px;
            &:last-child{
              padding-bottom: 0;
            }
            a {
              font-size: 14px;
              color: #ff6b4abf;
              line-height: 1.4;
              display: inline-flex;
              transition: all .3s ease-in;
              transform: translateX(0);
              text-decoration: none;
              &:hover {
                transform: translateX(5px);
              }
            }
          }
        }
      }
    }

    .middle{
      width: 33.33%;
      padding-right: 35px;
      @include mquery(mobile){
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
      }
      h2{
        font-size: 20px;
        padding-bottom: 10px;
        color: #102a42;
      }
      .social-footer{
        display: flex;
        align-items: center;
        .fb{
          background-color: black;
          border-radius: 50%;
          margin-right: 20px;
          height: 15px;
          width: 15px;
          padding: 11px;
          transition: all .2s ease-in;
          &:hover{
              background-color: #3b5999;
          }
        }
        .insta{
          background-color: black;
          border-radius: 50%;
          margin-right: 20px;
          height: 15px;
          width: 15px;
          padding: 11px;
          transition: all .2s ease-in;
          a{
              img{
                  max-width: 16px;
                  max-height: 16px;
              }
             }
          &:hover{
              background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
        }
        .twitter{
          background-color: black;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          padding: 11px;
          transition: all .2s ease-in;
         a{
          img{
              max-width: 16px;
              max-height: 16px;
          }
         }
      &:hover{
          background-color:  #55acee;
      }
        }
      }
    }
    .right{
      width: 33.33%;
      @include mquery(mobile){
        width: 100%;
      }
      .region-footer-second{
        h2{
          font-size: 20px;
          padding-bottom: 10px;
          color: #102a42;
        }
        p{
          font-size: 14px;
          color: #ff6b4abf;
        }
      }
    }

  }

}
// Faq (accordian) //
.faq-outer{
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-bottom: 30px;
  }
}
.faq-sec{
  > li{
        position: relative;
        margin-bottom: 16px;
        margin-left: 0;
        .faq-title{
            font-size: 16px;
            background-color: #D1E8E2;
            color: #000;
            padding: 18px 15px;
            padding-right: 40px;
            display: block;
            position: relative;
            margin: 0;
            line-height: 1.2;
            cursor: pointer;
            &.scroll-margin-top{
              scroll-margin-top: 190px;
              @include mquery(mobile){
                scroll-margin-top: 100px;
              }
            }
            &:hover{
              background-color: #D1E8E2;
              color: #116466;
            }
            &:after,&:before{
              content: "";
              position: absolute;
              right: 0;
              font-size: 10px;
              background: #2C2C2C;
              width: 14px;
              height: 2px;
              top: 50%;
              margin: -1px 18px 0 0;
            }
            &::after{
              transform: rotate(90deg);
            }
            &.active{
              background-color: #D1E8E2;
              color: #116466;
              font-weight: 700;

              &::after{
                display: none;
              }
            }
        }
      .faq-content{
        background-color: #F8F8F8;
        padding: 15px;
        margin: 8px 0 0 0;
        border-radius: 4px;
        display: none;

        p {
            font-size: 16px;
            color: #4D4D4F;
        }
      }
  }
}

// Contact form //
form {
  max-width: 690px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 46px #ffd2be;
  padding: 40px;
  margin: 20px auto 60px auto;
  @include mquery(mobile) {
      padding: 20px;
      max-width: 100%;
      width: auto;
      margin: 30px auto 60px auto;
  }
  .js-form-item{
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      color: #ff6b4abf;
      font-weight: 900;
    }
    .js-text-full{
      max-width: 600px;
    }
  }
  @include mquery(mobile) {
    .form-actions {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .js-form-submit {
        margin: 0;
        font-weight: 500;
        padding: 8px 20px;
        font-size: 15px;
      }
    }
  }
.field--name-field-name, .field--name-field-phone-number, .field--name-field-email {
  max-width: 337px;
  width: 100%;
}
.field--name-field-query-{
  max-width: 600px;
  width: 100%;
}
.form-actions{
  margin-top: 30px;
}
.js-form-type-checkbox{
  display: block;
  .form-checkbox{
    margin-right: 5px;
  }
}
}

// course table //
.courses-outer{
  padding-top: 60px;
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-top: 30px;
    padding-bottom: 30px;
  }
 h2{
  text-align: center;
 }
}

// Read More //
.facilities-bottom > p{
  .showmore_content{
    overflow: hidden;
  }
  .showmore_trigger{
    .more,.less{
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      display: block;
      &:hover{
        color: #D1E8E2;
      }
    }
  }
}

// banner slider
.flexslider {
  border: unset!important;
  overflow: hidden;
  margin: 0!important;
  .flex-viewport {
    .slides {
      li {
        a{
          img {
            width: 100%;
            height: 550px;
            @include mquery(medium){
              height: 350px;
            }
            @include mquery(mobile){
              height: 160px;
            }
          }
        }
        p{
          display: none;
        }
      }
    }
  }
}

//tabs
.tabs{
  .is-active{
    color: #ff6b4abf;
  }
  li{
    background-color: #ff6b4abf;
    color: #fff;
    a{
      color: #fff;
      &:hover{
        color: #ff6b4abf;
      }
    }
  }
}

//
.side-con{
  padding-top: 60px;
}

/* Footer Scroll To Top. */

.scrolltop {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 42px;
  border-radius: 50%;
  background: #e83e8c !important;
  color: #fff;
  font-size: 30px;
  z-index: 20;
  text-align: center;
  padding: 4px;
}

.scrolltop-icon {
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

// .views-exposed-form .js-form-item-field-event-trend-taxonomy-target-id {
//   width: 100%;
// }

// .views-exposed-form .js-form-item-field-event-trend-taxonomy-target-id label {
//   display: none;
// }

// .js-form-item-field-event-trend-taxonomy-target-id select {
//   display: none;
// }

// #views-exposed-form-event-block-1 .js-form-wrapper input {
//   display: none;
// }
// .navbar {
//   position: relative;
//   display: flex;
//   background: gray;

// }

// .navbar .logo {
//   font-size: 25px;
//   color: white;
//   padding: 15px 24px;
//   text-decoration: none;
//   font-weight: 900;
// }

// .nav-items {
//   color: aliceblue;
//   background-color: gray;
//   margin: auto;
//   list-style: none;
//   display: flex;
//   padding-left: 520px;
// }

// .nav-items li {
//   padding: 14px 11px 16px 15px;
// }

/* css for hamburger */

.hamburger {
  position: absolute;
  right: 4px;
  top: 7px;
  visibility: hidden;
  @include mquery(notebook){
    visibility: visible;
  }
}

.hamburger .bar {
  border: 1.5px solid #000;
  margin: 9px;
  display: block;
  width: 32px;
  background: #fff;
  transition: 0.3s all ease;
}
.hamburger {
  .rotate {
    transition: 0.3s all ease;
    &:nth-child(1) {
      transform: rotate(45deg);
      margin: -1px;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      margin: -2px;
    }
  }
}
.displace {
  right: 8px;
  top: 25px;
}


.nav-items-1 {
  position: relative;
  top: 60px;
  z-index: 999;
  align-items: center;
  flex-direction: column;
  color: #e83e8c;
  background-color: #fff;
  margin: auto;
  list-style: none;
  display: flex;
  padding: 60px 0;
  transition: 0.6s all ease;
}
.nav-items-1 > li {
  padding-top: 12px;
}
.nav-items-1 li{
  text-decoration: none;
  margin-bottom: 10px;
}

.nav-items-1 li a{
  text-decoration: none;
  color: #e83e8c;
  list-style: none;
}
// .hide{
//   background:#002691;
// }

/* Mobile Responsive */

// @media only screen and (max-width: 767px) {
//   .header .nav-menu {
//       margin: 0;
//       padding: 30px 0;
//   }
//   .bar{
//       color: #fff !important;
//   }
//   .hamburger {
//       right: 0;
//       position: absolute;
//       visibility: visible;
//   }

//   .nav-items {
//       display: none;
//       flex-direction: column;
//       align-items: center;
//       padding-left: 18px;
//       padding-top: 40px;
//   }
// }
.banner-region{
  width: 100%;
}

// what we do //
.accerediation-outer {
  padding: 48px 0;
  text-align: center;
  clear: both;
  @include mquery(mobile) {
      padding: 30px 0;
  }
  .accrediation-list {
      margin: -20px -12px;
      @include mquery(mobile) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: flex-start;
          overflow-x: auto;
          overflow-y: hidden;
          flex-wrap: nowrap;
          -webkit-overflow-scrolling: touch;
          -ms-flex-direction: row;
          flex-direction: row;
          overflow: -moz-scrollbars-none;
          -ms-overflow-style: none;
          margin: -10px;
          padding: 10px;
          width: calc(100% + 25px);
      }
      li {
          // width: calc(20% - 24px);
          // margin: 12px;
          text-align: center;
          box-shadow: 0px 0px 13px #00375F1A;
          padding: 30px 50px;
          border-radius: 12px;
          @include mquery(large) {
              width: calc(25% - 24px);
          }
          @include mquery(medium) {
              width: calc(33.33% - 24px);
              padding: 30px;
          }
          @include mquery(mobile) {
              min-width: 200px !important;
              width: 200px !important;
              margin: 0 12px 0 0;
              padding: 20px 15px;
          }
          .accerediation-img {
              img {
                  max-height: 86px;
                  max-width: 86px;
                  width: auto;
              }
          }

          .accerediation-name {
              font: bold 16px/28px $font-base;
              color: #2C2C2C;
              padding-top: 20px;
              a{
                  color: #2C2C2C;
              }
          }

          p {
              font: 15px/24px $font-base;
              color: #4D4D4F;
              padding-top: 10px;
              a{
                  color: #4D4D4F;
              }
          }
      }
  }
}
.views-row {
  padding-block: 1.5rem;
  &:not(:last-child) {
    article.node {
      margin-bottom: 30px;
    }
  }
}
