{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# <body> #}
    <header class="header">
     <div class="wrapper">
      <div class="header-inner">
        {{ page.header }}
        </div>
     </div>
    </header>
    <div class="banner-region">
    {% if page.banner %}
        {{ page.banner }}
    {% endif %}

  {% if slider %}
    <div class="flexslider">
      <ul class="slides">
        {% for slide in slider %}
          <li>
            <a href="{{ slide.url }}"><img src="{{ slide.src }}"></a>
            <p class="flex-caption">{{ slide.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
    <div class="side-con">
        {% if page.sidebar_first %}
            <div id="sidebar-first" class="column sidebar">
                <aside class="section" role="complementary">
                    {{ page.sidebar_first }}
                </aside>
            </div>
        {% endif %}
        <div class="wrapper">
            <div id="front-main-content">
                {{ page.content }}
            </div>
        </div>
        {% if page.sidebar_second %}
            <div id="sidebar-second" class="column sidebar">
                <aside class="section" role="complementary">
                    {{ page.sidebar_second }}
                </aside>
            </div>
        {% endif %}
    </div>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer-section">
                {# {{ page.footer_first }}
                <div class ="social-icon">
                {% if facebook_url != '' %}
                <li><a href="{{ facebook_url }}" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                {% endif %}
                {% if twitter_url != '' %}
                <li><a href="{{ twitter_url }}" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                {% endif %}
                {% if twitter_url != '' %}
                <li><a href="{{ instagram_url }}" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                {% endif %}
                {% if linkedin_url != '' %}
                <li><a href="{{ linkedin_url }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                {% endif %}
                {% if youtube_url != '' %}
                <li><a href="{{ youtube_url }}" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                {% endif %}
                </div> #}
                <div class="left">
                    {{ page.footer_first }}
                </div>
                <div class="middle">
                    <h2>Social Media</h2>
                    <div class="social-footer"> 
                     <div class="fb"><a><img src= ../web/themes/custom/animal_shelter/images/facebook.svg></img></a></div>
                     <div class="insta"><a><img src= ../web/themes/custom/animal_shelter/images/instagram.svg></img></a></div>
                     <div class="twitter"><a><img src= ../web/themes/custom/animal_shelter/images/twitter.svg></img></a></div>
                    </div>
                </div>
                <div class="right">
                    {{ page.footer_second }}
                </div>
                    <div class="footer-third">
                    {{ page.footer_third }}
                </div>
            </div>
        </div>
    </footer>

{% if scrolltotop_on %}
<div class="scrolltop"><div class="scrolltop-icon">&#x2191;</div></div>
{% endif %}
{# </body> #}

